<a href="https://colab.research.google.com/github/Terlok/SPR/blob/main/%20SPR/Labs/Laba_1_proga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [329]:
import pandas as pd
import urllib.request
from datetime import datetime
import numpy as np
import requests
from datetime import date
year1 = 1990
year2 = 2022

In [330]:
NewIndex = {1:24, 2:25, 3:5, 4:6, 5:27, 6:23, 7:26, 8:7, 9:11, 10:13, 11:14, 12:15, 13:16, 14:17, 15:18, 
            16:19, 17:21, 18:22, 19:8, 20:9, 21:10, 22:1, 23:3, 24:2, 25:4,  26:12, 27:20 }
names = ['Вінницька_обл', 'Волинська_обл', 'Дніпропетровська_обл', 'Донецька_обл', 'Житомирська_обл', 'Закарпатська_обл', 'Запорізька_обл', 
         'Івано-Франківська_обл', 'Київська_обл', 'Кіровоградська_обл', 'Луганська_обл', 'Львівська_обл', 'Миколаївська_обл', 'Одеська_обл', 
         'Полтавська_обл', 'Рівенська_обл', 'Сумська_обл', 'Тернопільська_обл', 'Харківська_обл', 'Херсонська_обл', 'Хмельницька_обл', 
         'Черкаська_обл', 'Чернівецька_обл', 'Чернігівська_обл', 'Республіка Крим', 'Київ', 'Севастополь']
province = {i+1: '' for i in range(1, 28)}

In [331]:
def save_files(id):
  link = f"https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={NewIndex[id]}&year1={year1}&year2={year2}&type=Mean"
  time = datetime.now().strftime("%d.%m.%Y %H:%M:%S")
  filename = f"№{id}: {names[id-1]} ({time}).csv"
  province.update({id: filename})
  open(filename, 'wb').write(requests.get(link).content)
  print(f"File: '{filename}' uploaded successfully!")

for i in range(1, 28):
  save_files(i)

File: '№1: Вінницька_обл (21.10.2022 13:19:25).csv' uploaded successfully!
File: '№2: Волинська_обл (21.10.2022 13:19:25).csv' uploaded successfully!
File: '№3: Дніпропетровська_обл (21.10.2022 13:19:25).csv' uploaded successfully!
File: '№4: Донецька_обл (21.10.2022 13:19:25).csv' uploaded successfully!
File: '№5: Житомирська_обл (21.10.2022 13:19:25).csv' uploaded successfully!
File: '№6: Закарпатська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№7: Запорізька_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№8: Івано-Франківська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№9: Київська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№10: Кіровоградська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№11: Луганська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№12: Львівська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№13: Миколаївська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№14: Одеська_обл (21.10.2022 13:19:26).csv' uploaded successfully!
File: '№15: Полтавська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№16: Рівенська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№17: Сумська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№18: Тернопільська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№19: Харківська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№20: Херсонська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№21: Хмельницька_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№22: Черкаська_обл (21.10.2022 13:19:27).csv' uploaded successfully!
File: '№23: Чернівецька_обл (21.10.2022 13:19:28).csv' uploaded successfully!
File: '№24: Чернігівська_обл (21.10.2022 13:19:28).csv' uploaded successfully!
File: '№25: Республіка Крим (21.10.2022 13:19:28).csv' uploaded successfully!
File: '№26: Київ (21.10.2022 13:19:28).csv' uploaded successfully!
File: '№27: Севастополь (21.10.2022 13:19:28).csv' uploaded successfully!

In [332]:
def get_data():
  with open('ResultTable.csv', 'w', encoding='utf-8') as Resultfile:
    for i in range(27):
      with open(f'{province[i+1]}', 'r', encoding='utf-8') as Somefile:
        buffer = Somefile.readlines()
        for j in range(len(buffer)):
          buffer[j] = ''.join(buffer[j][:-2].split())+f',{i+1}'
        buffer[1] = 'Year,Week,SMN,SMT,VCI,TCI,VHI,Region'
        buffer[2] = buffer[2].split('>')[2]
      print(*buffer[2:-1], sep='\n', file=Resultfile)
      with open(f'{province[i+1]}', 'w', encoding='utf-8') as Somefile:
        print(*buffer[1:-1], sep='\n', file=Somefile)
  print('Parsing was completed!')

get_data()

headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'Region']
DataSet = pd.read_csv('ResultTable.csv', names = headers)
DataSet = DataSet.drop(DataSet.loc[DataSet['VHI'] == -1].index)

Parsing was completed!

In [333]:
def Extreme_points_min(region, year):
  Values = min(DataSet[(DataSet.Year == year) & (DataSet.Region == region)]['VHI'])
  return DataSet[(DataSet.VHI == Values) & (DataSet.Year == year) & (DataSet.Region == region)]

In [334]:
def Extreme_points_max(region, year):
  Values = max(DataSet[(DataSet.Year == year) & (DataSet.Region == region)]['VHI'])
  return DataSet[(DataSet.VHI == Values) & (DataSet.Year == year) & (DataSet.Region == region)]

In [335]:
def Extreme_droughts(region):
  return DataSet[(DataSet.VHI <= 15) & (DataSet.Region == region)]

In [336]:
def Moderate_drought(region):
  return DataSet[(DataSet.VHI <= 35) & (DataSet.VHI > 15) & (DataSet.Region == region)]

In [337]:
pd.DataFrame.from_dict(Extreme_points_min(1, 2004))

     Year  Week    SMN     SMT    VCI    TCI    VHI  Region
753  2004    26  0.436  298.75  48.07  31.04  39.56       1

In [338]:
pd.DataFrame.from_dict(Extreme_points_max(1, 2004))

     Year  Week    SMN     SMT    VCI    TCI    VHI  Region
762  2004    35  0.427  293.29  88.57  65.96  77.27       1

In [339]:
pd.DataFrame.from_dict(Extreme_droughts(1))

     Year  Week    SMN     SMT    VCI    TCI    VHI  Region
564  2000    45  0.070  278.30   6.71  17.80  12.26       1
565  2000    46  0.055  276.68   7.14  15.43  11.28       1
566  2000    47  0.041  274.89   7.55  14.94  11.25       1
567  2000    48  0.032  273.63   9.03  13.73  11.38       1
568  2000    49  0.031  272.13  11.81  14.01  12.91       1
569  2000    50  0.030  270.44  14.30  14.10  14.20       1

In [340]:
pd.DataFrame.from_dict(Moderate_drought(1))

      Year  Week    SMN     SMT    VCI    TCI    VHI  Region
40    1990    41  0.222  287.09  38.84  20.81  29.83       1
41    1990    42  0.192  285.08  35.57  20.23  27.90       1
42    1990    43  0.158  281.62  29.96  37.43  33.70       1
43    1990    44  0.128  278.41  25.00  38.92  31.96       1
44    1990    45  0.102  276.09  19.84  33.71  26.78       1
...    ...   ...    ...     ...    ...    ...    ...     ...
1681  2022    18  0.307  295.99  52.54  14.39  33.47       1
1682  2022    19  0.340  297.11  53.00  15.09  34.04       1
1683  2022    20  0.369  298.00  52.94  16.19  34.57       1
1684  2022    21  0.394  298.64  52.41  17.33  34.87       1
1685  2022    22  0.414  299.17  51.04  18.13  34.58       1

[172 rows x 8 columns]

In [341]:
pd.DataFrame.from_dict(DataSet)

       Year  Week    SMN     SMT    VCI    TCI    VHI  Region
0      1990     1  0.076  269.43  71.31   7.73  39.52       1
1      1990     2  0.082  270.84  74.87   5.80  40.34       1
2      1990     3  0.086  272.00  77.99   4.29  41.14       1
3      1990     4  0.093  273.50  80.18   2.19  41.18       1
4      1990     5  0.102  275.52  81.90   0.62  41.26       1
...     ...   ...    ...     ...    ...    ...    ...     ...
46316  2022    37  0.387  295.23  79.95  30.86  55.41      27
46317  2022    38  0.380  294.42  80.99  27.67  54.33      27
46318  2022    39  0.372  293.63  82.88  23.57  53.22      27
46319  2022    40  0.365  292.95  86.88  17.58  52.23      27
46320  2022    41  0.352  292.00  89.56  14.26  51.91      27

[44982 rows x 8 columns]